      <footer class="borderT_{{ type.code }}">
        <ul>
          <li id="all" data-role="button"><a href="{{ path('HomeController.index') }}">Tous</a></li>
          <li id="sd" data-role="button" class="foot_sd"><a href="{{ path('HomeController.shortDrink') }}">Short Drink</a></li>
          <li id="ld" data-role="button" class="foot_ld"><a href="{{ path('HomeController.longDrink') }}">Long Drink</a></li>
          <li id="sa" data-role="button" class="foot_sa"><a href="{{ path('HomeController.sansAlcool') }}">Sans Alcool</a></li>
        </ul>
      </footer>
